.city-selector {
  width: 75%;
  background-color: #f9f9f9;
  border: 1px solid #dcdcdc;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.city-selector h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #444;
}

/* Filter Buttons */
.filter-options {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.filter-button {
  background-color: #ff9800;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.filter-button.active {
  background-color: #f57c00;
  transform: scale(1.05);
}

/* City Options */
.city-options {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.city-button {
  background-color: #1e88e5;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.city-button.active {
  background-color: #0d47a1;
}

.city-button:hover {
  background-color: #1565c0;
  transform: scale(1.03);
}

.selected-city {
  font-size: 1.125rem;
  color: #666;
  text-align: center;
  margin-top: 1.5rem;
}

/* .train-list-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 80%;
}

.train-item {
  padding: 1rem;
  margin: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

.fast-train {
  color: red;
  font-weight: bold;
}

.train-list {
  margin-bottom: 1rem;
}

.close-popup {
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
} */
